.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.cardId {
  font-weight: bold;
  font-size: 14px;
  color: #666;
}

.userInitialWrapper {
  position: relative;
  display: inline-block;
}

.userInitial {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

.availabilityDot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff; 
  background: green; 
}

.cardTitle {
  font-size: 16px;
  margin: 8px 0;
  color: #333;
}

.cardTags {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.tagPill {
  /* background: #f3f4f6; */
  border: 1px #f3f4f6 solid;
  color: #333;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  white-space: nowrap;
}
.taskStatus {
  padding: 0 4px 0 0;
}
.statusFeature {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.taskPriority {
  /* background: #f3f4f6; */
  /* color: #333; */
  /* font-size: 12px; */
  /* padding: 4px 4px; */
  /* margin: 4px 4px;
  border: 1px #f3f4f6 solid;
  border-radius: 10px; */
  /* border: #666 0.5px solid; */
  /* border-radius: 2px; */
}
.priorityImg {
  padding: 4px;
  margin: 2px 4px -7px 0;
  border: 1px #f3f4f6 solid;
  border-radius: 6px;
}
