.kanbanPage {
  margin: 1% 5% 0 5%;
}

.kanbanBoard {
  display: flex;
  gap: 16px;
  padding: 16px 0px;
  overflow-x: auto;
  background: #f8f9fa;
}

.display {
  font-size: 18px;
  color: black;
  padding: 1px 12px 3px 12px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px rgb(208, 208, 208);
}

.kanbanColumn {
  flex: 1;
  min-width: 300px;
  /* background: #ffffff;  */
  /* border-radius: 8px;  */
  padding: 8px;
}

.kanbanColumnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.kanbanColumn h2 {
  font-size: 18px;
  color: #333;
  margin: 0;
  display: flex;
  align-items: center;
}

.ticketCountNew {
  font-size: 16px;
  color: #838383;
  margin: 0 0 0 12px;
  font-weight: 500;
  /* margin: 0 5px 0 10px; */
}
.ticketCount2 {
  font-size: 16px;
  color: #838383;
  margin: 0 0 0 12px;
  font-weight: 500;
  margin: 0 5px 0 0;
}
.kanbanColumnCards {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.addTicket {
  margin: 0 5px 0 0;
}
.menuTicket {
  margin: 0 5px 0 5px;
}

/* Dropdown.css */

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.downImg {
  padding: 0px 0 -5px 0;
}
.displayText {
  margin: 0 2px 0 5px;
}
.displayImg {
  margin-right: 4px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 12px 8px;
  width: 250px;
  z-index: 10;
}
.dropdownText {
  color: grey;
  font-size: 17px;
}
.dropdownItem {
  margin-bottom: 12px;
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}
.dropDownOption {
}

.dropdownItem:last-child {
  margin-bottom: 0;
}

.dropdownItem label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  color: #555;
}

.dropdownItem select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.priorityImg {
  padding: 4px;
  margin: 2px 4px -2px 0;
  border-radius: 6px;
}

/* initials */

.userInitialWrapper {
  position: relative;
  display: inline-block;
}

.userInitial {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd; 
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

.userHeaderWrapper {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.userName {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.availabilityDot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: green; 
}

@media screen and (max-width: 464px) {
  .dropdownToggle {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kanbanPage {
    margin: 5% 5% 0 5%;
  }
}
